@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  /* --lightlightblack-color: #3b2f28; */
  /* --darkyellow-color: #e4ce0ab2; */
  
  --yellow-color: #d1bf09;  /*#d1bf09; E4D00A*/
  --tryyellow-color: #FEDC00; /*#DFFF00;*/
  --black-color: #000000;
  --white-color: #ffffff;
  --lightblack-color: #3b2f28;

}


* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
